<!-- Loads timeline css -->
<link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">

<!-- Loads time js -->
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

<a id="button_prez" class="button">Highlights</a>
<a id="button_full" class="button">Full story</a>
<div id='timeline-embed' style="width: 100%; height: 600px"></div>


<!-- Creates timeline -->
<script type="text/javascript">

// Option for the timeline

var options = {
    initial_zoom: 5,
    timenav_position : "bottom"
  }

 function display_timeline(sheet){
 	timeline = new TL.Timeline('timeline-embed',sheet,options)
 }


var sheet_prez = 'https://docs.google.com/spreadsheets/d/1eKI8KfNVylcjPe9JREWhBLQMwWIRQA1xGbx8-41t7tc/edit#gid=0'
var sheet_full = 'https://docs.google.com/spreadsheets/d/17VXBJT7ugC3AhQIGnLCwZFvi4qT2vIjFSIRmjjtKt-E/edit#gid=0'

// Display timeline

display_timeline(sheet_full)

// Link button
document.getElementById("button_prez").addEventListener('click',function(){
	$('timeline-embed').empty()
  	display_timeline(sheet_prez);
},false)

document.getElementById("button_full").addEventListener('click',function(){
	$('timeline-embed').empty()
 	display_timeline(sheet_full);
},false)

;
</script>
